# UE4 Project directories to ignore
/Binaries/
/DerivedDataCache/
/Intermediate/AssetRegistryCache/
/Intermediate/Build/
/Intermediate/Config/
/Intermediate/DatasmithContentTemp/
/Intermediate/ReimportCache/
/Intermediate/CachedAssetRegistry.bin
/Intermediate/TargetInfo.json
/Saved/
/Build/
/.vs/
